---
data:
  layout:
    title: KebabVPN
    description: Secure VPN gateway for personal use and work
    theme:
      dark: false
      color: "#5d2f86"
    alert:
      show: false
      dismissable: true
      text: Hello
    menus:
      header:
        name: header
        items:
          -
            name: /pricing/
            items: false
          -
            name: /terms/
            items: false
          -
            name: /documentation/
            items:
              -
                name: ios/
---

{%- assign timestamp = 'now' | date: '%s%L' -%}

{%- assign title = data.page.title | append: ' | ' | append: data.layout.title -%}

{%- if layout == "index" -%}
  {%- assign title = data.layout.title | append: ' - ' | append: data.page.title -%}
{%- endif -%}

{%- assign description = data.page.description | default: data.layout.description -%}

<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include 'head/head' %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
