---coffee
data:
  layout:
    title: 'KebabVPN'
    description: 'Secure VPN gateway for personal use and work!'
    theme:
      dark: false
      color: '#5d2f86'
      body_class: ''
    menus: header:
      name: 'header'
      items: [
        {
          name: '/pricing/'
          items: false
        }
        {
          name: '/terms/'
          items: false
        }
        {
          name: '/documentation/'
          items: [
            {
              name: 'ios/'
            }
          ]
        }
      ]
  alert:
    show: true
    dismissable: true
    text: 'Hello, world!'

eleventyComputed:

  title: (ctx) ->
    title = ctx.data.page.title + ' | ' + ctx.data.layout.title
    if ctx.layout == 'index'
      title = ctx.data.layout.title + ' - ' + ctx.data.page.title
    title

  description: (ctx) ->
    ctx.data.page.description or ctx.data.layout.description

---
<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include 'head/head.njk' %}
  </head>
  <body class="{{ data.layout.theme.body_class }}">
    {% include 'header/header.njk' %}
    {{ content }}
  </body>
</html>
